@import url('fonts.css');
@import url('animation.css');

:root {
    --button-color: #3484d4;
}

*, *::before, *::after {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #16161a;
    ul {
        list-style-type: none;
        padding: 0;
    }
}

section {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #16161a;
    padding: 25px 40px 20px 40px;
    font-family: Hack;
    text-align: center;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .container {
        padding-left: auto;
        padding-right: auto;
        animation: fadeInDown .8s;
    }

    .logo {
        display: none;
    }

    .header_links ul li a {
        outline: none;
        text-decoration: none;
        color: #a6a8b8;
        padding: 5px 12px;
        transition: 0.3s all;
        font-size: 15px;
    }

    .header_links ul li a:hover {
        transition: 0.3s all;
        color: white;
        font-weight: bold;
    }
}
.hero {
    color: white;
    text-align: center;
    padding: 0;
    padding-top: 5%;

    // New line added
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;

    .container {
        margin-top: 8em;
        animation: fadeInUp .8s;
    }

    .badge {
        width: 150px;
        height: 150px;
        border: 10px solid #41425293;
        border-radius: 25em;
    }

    h1 {
        text-transform: uppercase;
    }

    p {
        text-transform: capitalize;
        margin-top: -.8em;
    }

    a {
        text-decoration: none;
        color: #a6a8b8;
        transition: .8s all;
    }

    a:hover {
        transition: .8s all;
        color: #fff;
    }

    .typo {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-right: 2px solid rgba(255, 255, 255, .75);
        white-space: nowrap;
        overflow: hidden;
        color: #94a1b2;
        font-size: 13px;
        animation: typewriter1 2s steps(44) 1s 1 normal both, blinkTextCursor 530ms steps(44) infinite normal;
    }

    .hero_links ul li a {
        outline: none;
        text-decoration: none;
        color: #a6a8b8;
        margin: 20px 5px;
        padding: 5px;
        transition: 0.3s all;
        font-size: 25px;
    }

    .hero_links ul li a:hover {
        color: white;
        font-weight: bold;
    }
    .hero_links ul li a:visited {
        color: #a6a8b8;
        font-weight: bold;
    }

}

.block {

    div {
        min-height: 90vh;
    }
}

.services-section {
    background-color: rgba(255, 255, 255, 0.233);
    color: #ebebeb;
    text-align: center;
    min-height: 100vh;

    h2 {
        text-transform: uppercase;
        font-family: Yu-Mincho;
    }
    p {
        text-transform: capitalize;
        font-family: Hack;
    }

    li {
        background-color: #16161a;
        padding: .30em 1em;
        border-radius: 1em;
        margin: 6em 1em;

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }

        .icon1     {
            position: relative;
            z-index: 2;
            width: 3em;
            height: 3em;
            margin-top: -2.2em;
            padding-right: 4.5px;
            }

        .icon2    {
            position: relative;
            z-index: 2;
            width: 3em;
            height: 3em;
            margin-top: -2.2em;
        }

        .icon3    {
            position: relative;
            z-index: 2;
            width: 3em;
            height: 3em;
            margin-top: -2.2em;
            padding-right: 2px;
        }


        .border {
        position: absolute;
        z-index: 1;
        background-color: #cdceda;
        border: 5px solid  #16161a;
        border-radius: 50%;
        width: 4em;
        height: 4em;
        margin-top: -60px;
        margin-left: -40px;
        }
    }
    .li1 {
        margin-top: 120px;
    }
}

.contacts-section {
    background-color: rgba(0, 0, 0, 0.900);
    color: #ebebeb;
    padding: 1em 2em;

    h3 {
        font-family: Yu-Mincho;
        text-transform: uppercase;
    }

    p {
        font-family: Hack;
        font-size: .9em;
        text-transform: capitalize;
    }
    span {
        text-transform: none;
    }

    li {
        margin: 50px auto;
    }

    a {
        outline: none;
        text-decoration: none;
        color: white;
        padding: 5px 12px;
        transition: 0.3s all;
        font-size: 15px;
    }

    a:hover {
        color: #ebdc56;
        font-weight: bold;
    }
}

.services-section, .contacts-section {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer {
    background-color: #16161a;
    padding: .3em;
    color: #94a1b2;
    font-family: Hack;

    p {
        text-align: center;
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: small;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {

        display: flex;
        .container {
            flex: 50%;
        }

        ul {
            float: right;
        }

        .logo {
            display: block;
            height: 50px;
            float: left;
        }
    }

    .services-section {
        min-height: 100vh;
    
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
        li {
            width: 50%;
            margin-bottom: 5px;
            margin-top: 80px;
        }

        .li1 {
            margin-top: 100px;
        }
    }
    .contacts-section {
        // padding: 0;
        .container {
            
            width: 100%;

            ul {
                display: flex;
                margin-top: 0;
                margin-bottom: 0;

                li {
                    margin: 10px;
                    flex: 50%;
                }
            }

        }
    }
}

@media only screen and (min-width: 1080px) {
    .navbar {
        display: flex;
        .container {
            flex: 50%;
        }

        ul {
            float: right;
        }

        .logo {
            display: block;
            height: 50px;
            float: left;
        }
    }

    .hero {
        min-height: 90vh;
    }

    .services-section {
        min-height: 50vh;
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        li {
            width: 25%;
            margin-top: 95px;
        }
        .li1 {
            margin-top: 95px;
        }
    }

    .contacts-section {
        min-height: 20vh;
        // padding: 0;
        .container {
            
            width: 100%;

            ul {
                display: flex;
                margin-top: 0;
                margin-bottom: 0;

                li {
                    margin: 10px;
                    flex: 50%;
                }

                .contacts-left-col {
                    margin-left: 100px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1450px) {
    .services-section {
        min-height: 37vh;
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        li {
            width: 28%;
            margin-top: 70px;
        }
        .li1 {
            margin-top: 70px;
        }
    }

    .contacts-section {
        min-height: 20vh;
        // padding: 0;
        .container {
            
            width: 100%;

            ul {
                display: flex;
                margin-top: 0;
                margin-bottom: 0;

                li {
                    margin: 10px;
                    flex: 50%;
                }

                .contacts-left-col {
                    margin-left: 100px;
                }
            }
        }
    }
}