.u-section-1-1 {
  background-image: url("images/886e2c_48dff56451324881a6d303d90ab90529_mv2.webp");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 157px;
  }
}.u-section-1-2 {
  background-image: url("images/886e2c_b30ae41c11774b70bf035ac9190d1275_mv2.webp");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 157px;
  }
}.u-section-1-3 {
  background-image: url("images/886e2c_c75cd6ba870d4b5fa8d52bc7505f36ed_mv2.webp");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 157px;
  }
}.u-block-9938-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-9938-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-block-9938-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
  background-image: none;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 72px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  white-space: nowrap;
  margin: 12px auto 0 22px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -40px 460px 20px 70px;
}

.u-section-2 .u-btn-1 {
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 317px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 41px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 31px;
    width: 31px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -23px;
    margin-bottom: 12px;
    margin-left: 39px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-text-1 {
  width: 540px;
  margin: 107px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 388px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin: 44px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-list-1 {
    min-height: 320px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-list-1 {
    min-height: 607px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    min-height: 854px;
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 348px;
}

.u-section-4 .u-gallery-1 {
  height: 313px;
  width: 343px;
  margin: 7px 143px 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1rem;
  margin: -181px 528px 0 42px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  margin: -27px auto 60px 171px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 362px;
    margin-left: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -25px;
    margin-left: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -193px;
    margin-right: 373px;
    margin-left: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -50px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 335px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-4 .u-gallery-1 {
    height: 144px;
    width: 141px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.625rem;
    margin-right: 153px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -16px;
    margin-bottom: 26px;
    margin-left: 83px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/WhiteandBlueSimpleComputerLogo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  width: 158px;
  margin: 78px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-5 .u-text-1 {
    width: 157px;
    margin-top: 41px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-5 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -39px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-5 .u-image-1 {
    width: 127px;
    height: 127px;
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 50px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -217px;
    margin-right: 41px;
    margin-left: 176px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 135px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 495px;
}

.u-section-6 .u-list-1 {
  min-height: 396px;
  grid-gap: 10px;
  grid-template-columns: repeat(4, calc(25% - 8px));
  grid-template-rows: repeat(1, auto);
  margin: 50px auto 50px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/156879081_125341919595574_7807846621928310302_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/91002794_1343924082459445_7898306782735368192_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/166537113_362956498245580_5500364572100068691_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/Jewel.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-list-1 {
    min-height: 327px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-4 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-6 .u-list-1 {
    min-height: 638px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 355px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-6 .u-list-1 {
    min-height: 1070px;
    grid-template-rows: auto;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 15px;
  }

  .u-section-6 .u-image-1 {
    height: 110px;
    width: 110px;
    margin-left: 105px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 70px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 106px;
    margin-left: 111px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 15px;
  }

  .u-section-6 .u-image-2 {
    height: 110px;
    width: 110px;
    margin-left: 105px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 70px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-right: 106px;
    margin-left: 111px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 15px;
  }

  .u-section-6 .u-image-3 {
    height: 110px;
    width: 110px;
    margin-left: 105px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: 70px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 9px;
    margin-right: 106px;
    margin-left: 111px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 15px;
  }

  .u-section-6 .u-image-4 {
    height: 110px;
    width: 110px;
    margin-left: 105px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 70px;
    margin-left: 75px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 9px;
    margin-right: 106px;
    margin-left: 111px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 176px;
}

.u-section-7 .u-list-1 {
  min-height: 175px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  grid-gap: 10px 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 54px;
  width: 54px;
  color: rgb(255, 255, 255) !important;
  margin: -17px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-7 .u-text-2 {
  background-image: none;
  margin: 10px -30px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 54px;
  width: 54px;
  color: rgb(255, 255, 255) !important;
  margin: -17px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-7 .u-text-4 {
  background-image: none;
  margin: 10px -30px 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 54px;
  width: 54px;
  color: rgb(255, 255, 255) !important;
  margin: -17px auto 0;
}

.u-section-7 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-7 .u-text-6 {
  background-image: none;
  margin: 10px -30px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-7 .u-list-1 {
    min-height: 182px;
    height: auto;
  }

  .u-section-7 .u-icon-1 {
    height: 39px;
    width: 39px;
    margin-top: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-7 .u-text-2 {
    width: 180px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-icon-2 {
    height: 39px;
    width: 39px;
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-7 .u-text-4 {
    width: 180px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-icon-3 {
    height: 39px;
    width: 39px;
    margin-top: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-7 .u-text-6 {
    width: 180px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-7 .u-list-1 {
    min-height: 418px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    grid-template-columns: 100%;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 144px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 143px;
}

.u-section-8 .u-container-layout-1 {
  padding: 5px 60px 19px;
}

.u-section-8 .u-text-1 {
  margin: 8px -8px 0 8px;
}

.u-section-8 .u-text-2 {
  margin: 8px -14px 0 14px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 143px;
}

.u-section-8 .u-container-layout-2 {
  padding: 5px 60px 17px;
}

.u-section-8 .u-text-3 {
  margin: 8px 345px 0 8px;
}

.u-section-8 .u-text-4 {
  margin: 20px 119px 0 14px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 147px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 242px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 0;
    margin-right: 25px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    width: 362px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 12px;
    margin-left: 8px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    width: 320px;
    margin-right: 3px;
    margin-left: 8px;
  }
}